
  <%= form_with(model: meal) do |form| %>
    <% if meal.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

        <ul>
          <% meal.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
  <turbo-frame id="<%= meal.id %>_tf">
    
    <div class="new_meal">
      <div class="inline_edit">
        <input value="<%= meal.fed_time.strftime("%I:%M") unless meal.fed_time.nil? %>" type="time" name="meal[fed_time]" id="meal_fed_time">
      </div>
      <div>
        <%= form.number_field :quantity, :required => true %>
      </div>

      <div class="meal_radio">
        <%= form.collection_radio_buttons :food, Meal.foods, :first, :first %>
      </div>

      <div>
        <%= form.submit "Enter", class: "btn" %>
      </div>
    </div>
  </turbo-frame>

  <% end %>