<div id="<%= dom_id meal %>">


        <a href="<%= "/meals/#{meal.id}/edit/" %>">
          <%= image_tag "pen.svg", width: "20px" %>
        </a>
        <a href="<%= "/meals/#{meal.id}/" %>" data-turbo-method="delete">
          <%= image_tag "trash.svg", width: "20px"%>
        </a>
  <%= meal.created_at.strftime("%I:%M %p") %>
    <strong>Type:</strong>
    <%= meal.food %>

    <strong>Quantity:</strong>
    <%= meal.quantity %> ml
  


</div>
