<div id="<%= dom_id meal %>">


  <a href="<%= "/meals/#{meal.id}/edit/" %>" data-turbo-frame="<%= meal.id %>_tf">
    <%= image_tag "pen.svg", width: "20px" %>
  </a>
  <a href="<%= "/meals/#{meal.id}/" %>" data-turbo-method="delete" data-turbo-confirm="Are you sure?">
    <%= image_tag "trash.svg", width: "20px"%>
  </a>


  <%= meal.fed_time.strftime("%I:%M %p")%>
    <strong><%= meal.food %></strong>
    
    <%= meal.quantity %> ml

</div>
