
<%= render "form", meal: @meal %>

<div id="meals">
  <% @meals.reverse.each do |meal| %>
    <% unless @day.include?(meal.created_at.strftime("%m/%d")) %>
      <% @day << meal.created_at.strftime("%m/%d") %>
      <strong><%= @day[-1] %></strong>
      <% @meal_hash[@day[-1]].each do |food, total| %>
        <strong style="color: #fff"><%= food %>:</strong> <%= total %>
      <% end %>
      <br />
      <br />
    <% end %>

    <div class="meal_container">
      <%= form_with(model: meal, data: { turbo_frame: "#{meal.id}_tf" }) do %>
        <turbo-frame id="<%= meal.id %>_tf">
          <%= render meal %>
        </turbo-frame>
      <% end %>
    </div>
  <% end %>
</div>



